.tempBubble{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tempDisplay{
    position: fixed center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight:400;
    /* height: 40vmin; */
    font-size: 10vmin;
    
}

.now{
    font-size: 3vmin;
    margin-top: 1vmin;
    font-weight:500;
}

.low{
    transform-origin: 50%;
    margin-bottom: 1vmin;
}

.tempDisplay > h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;

    padding-top: 1vmin;
    padding-bottom: 1vmin;

   
    
}

.tempBubble > h3 {
    font-size: 3vmin;
}

h2 {
    font-weight: 800;
    
}

h3 {
    font-weight: 400;
    padding-bottom:0.5em;
}

@keyframes loadIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.condition-div {
    padding-top: 10px;
    flex-grow: 1;
    width:100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
}


.condition-card {
    

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    /* padding: 5px; */
    /* margin-top: 5vh; */
    margin-left:3px;
    margin-right:3px;

    width: 100%;
    height: 40vmin;

    flex-grow:1;
    
    /* background-color: black; */
    /* border-right: 0.5px solid var(--accent); */

    /* animation: newIn;
    animation-timeline: view();
    animation-range: entry; */
    
}

@media (orientation:portrait) {
    .condition-card{
        /* height: 20vh; */
    }
}

@keyframes newIn{
    0%{
        transform: opacity(0%);
    }
    100%{
        transform: opacity(100%)
    }
}

.condition-card-main {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


    height: 25vmin;
    aspect-ratio: 1/1;


    background-color: var(--accent);
    filter: drop-shadow(0 0 15px var(--accent)) drop-shadow(0 0 5px var(--accent));
    color:var(--bg);
    border-radius: 200rem;
    font-size: 50%;

    /* padding: 3vmin; */

}

.pad{
    width:10vw
}


.condition-card-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin:10px
}

.detail-span {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    /* font-weight: 100; */

    width: 30vw;
    border-bottom: 0.5px solid var(--text);
}



.detail-span > h2 {
    font-weight: 400;
    font-size: 2vmax;
    text-align: right;
}



.water-drop {
    height:1.5em;
}

.br-line{
    z-index: -1;
    position: relative;
    width:0px;
    height:100%;
    transform-origin: 50% 50%;
    border-right: 1px solid var(--text);
}
.br-horiz-left{
    
    width:35%;
    height:0px;
    flex-grow: 1;

    border-top: 1px solid var(--text);
}
.br-horiz-right{
    width:35%;
    height:0px;
    flex-grow: 1;

    border-top: 1px solid var(--text);
}

.cc-left{

    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: center;

    padding-top: 10vh;

    width: 10%;
    height: 100%;
    flex-grow: 1;

    border-right: 1px solid var(--text);
    
}
.cc-right{

    display: flex;
    justify-content: flex-end;
    align-items: center;

    justify-self: flex-start;
    align-self: center;
    
    padding-top: 10vh;
    /* border-left: 1px solid var(--text); */
    

    width: 10%;
    flex-grow: 1;
    
}
.cc-right-detail{

    display: flex;
    justify-content: flex-end;
    align-items: center;

    justify-self: left;
    align-self: left;

    padding-right: 5%;
    padding-top: 10vh;
    margin-left: 0;
    padding-left: 0;

    width: 10%;
    height: 100%;

    flex-grow: 1;
    
}




