h1 {
    padding-top:0.5em;
    padding-bottom:0.5em;

    padding-left: 0.15em;
}

.tempBubble{
    aspect-ratio: 1/1;
    /* background-color: var(--text); */
    /* color:var(--bg); */
    /* border-radius: 100rem; */
    /* aspect-ratio: 1/1; */
    /* width: 100%; */
    /* height:20vh; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tempDisplay{
    position: fixed center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight:400;
    /* height: 40vmin; */
    font-size: 10vmin;
    
}

.now{
    font-size: 2vmin;
}

.low{
    transform-origin: 50%;
}

.tempDisplay > h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    
}

.tempBubble > h3 {
    font-size: 2vmin;
}

h2 {
    font-weight: 800;
    
}

h3 {
    font-weight: 400;
    padding-bottom:0.5em;
}

@keyframes loadIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.condition-div {
    padding-top: 10px;
    flex-grow: 1;
    width:100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
}


.condition-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    padding: 5px;
    margin-top: 5vh;
    margin-left:3px;
    margin-right:3px;

    width: 90%;

    flex-grow:1;
    
    /* background-color: black; */
    /* border-right: 0.5px solid var(--accent); */
    
}

.condition-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    height: 30vmin;
    aspect-ratio: 1/1;


    background-color: var(--accent);
    color:var(--bg);
    border-radius: 200rem;
    font-size: 50%;

}

.main-contents{

}
.condition-card-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.detail-span {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;

    width: 30vw;
    border-bottom: 0.5px solid var(--text);
    /* animation: fadeInDrops 4s ease-in-out; */
}

.water-drop {
    height:1.5em;
}

.br-line{
    z-index: -1;
    position: absolute;
    width:0px;
    height:100%;
    transform-origin: 50% 50%;
    border-right: 1px solid var(--text);
}
.br-horiz-left{
    
    width:25vw;
    height:0px;
    /* transform-origin: 50vw 50vw; */
    border-top: 1px solid var(--text);
}
.br-horiz-right{
    width:25vw;
    height:0px;
    /* transform-origin: 50vw 50vw; */
    border-top: 1px solid var(--text);
}

.cc-left{
    /* border-left: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: flex-start;

    width: 50%;
    
}
.cc-right{
    /* border-left: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    justify-self: center;

    width: 50%;
    
}


