h1 {
    /* color:aqua */
    font-weight: 700;
    /* animation: loadIn 800ms ease-in */
}

@keyframes loadIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.daily-card {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding:1em; */
    /* width: 100%; */
    flex-grow: 1;

    overflow:hidden;
    
    /* flex-direction: row; */


    
    background-color: var(--card);
    border: 1px solid var(--accent);
    border-radius: 1em;
    filter: drop-shadow(0.25em 0.25em 0vh var(--accent));
    animation: loadIn 400ms ease-in
    /* transition: 2s; */

}

.daily-card > {
    flex-grow: 2;
}

