.detail > h2{ 
    font-weight:500;
    font-size:2vmax;

    padding-top: 0.5em;
    text-align: left;
}

.detail > h4 {
    font-weight:400;
    font-size:2vmax;
}

@keyframes loadIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.now-card-detail {
    width:40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: right;
}

.detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid var(--text);
}
.detail-end {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


@media (orientation:portrait) {
    .detail > h2 {
        font-size: 1em;
    }
    .detail > h4 {
        font-size: 1em;
    }
    .now-card-detail{
        width: 50%;
    }
}
