
.search-input {
    width: 100%;
    height:100%;
    padding-left: 0.5em;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 0px solid var(--card);
    background-color: transparent;
    color: var(--text);
}
.search-input:focus .search-and-toggle{
    height: 10em;
}
.search-button{
    height: 100%;
    /* background: color-mix(in srgb, var(--text) 10%, transparent); */
    background-color: var(--card);
    border-radius: 0px;
    /* border-radius: -10px; */
    color: var(--text);
    /* margin-left:0.5rem; */
}


.bar-and-metric{
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.switch-metric{
    /* right:90vw */
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-metric * {
    transform: translateX(-25px);
}
.metric-switch-text{
    transform: translateX(-20%);
}



.searchbar {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid var(--text);
    border-radius: 5px;
    /* background-color: var(--card); */
    background: color-mix(in srgb, var(--card) 20%, transparent 80%);
    overflow: hidden;
}



.search-form {
    height: 3em;
    flex-grow: 1;
    padding-left: 1em;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin-bottom: 3rem; */
    /* margin-top: 2vh; */

    align-self: center;
}