h1 {
    /* color:aqua */
    font-weight: 400;
    padding-left: 0%;
    /* animation: loadIn 800ms ease-in; */
    
}

.now-card > h2{ 
    font-weight:400;
    font-size:2.5vh;

    padding-top: 0.5em;
    
}


@keyframes loadIn {
    0% {
        /* opacity: 0; */
    }

    100% {
        /* opacity: 100; */
    }
}

.now-card {
    height: 50svh;
    width: 50%;
    
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 2vh;
}

.now-card * {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.temp{
    padding-top: 5%;
    padding-left: 0%;

    
}

.temp-break {
    height: 0px;
    width: 66%;
    border-top: 0.5px solid var(--text);
}

.weatherIcon {
    width:4rem;
    padding-top: 1em;

    /* animation: fadeIn 4s normal; */
}







